name: Iris Codec MacOS build
on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      build_type:
        required: true
        type: string
      iris_cmake_flags:
        required: true
        type: string
      artifact:
        required: true
        type: string
        

jobs:
  build:
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
        echo "install-dir=${{ github.workspace }}/${{ inputs.artifact }}" >> "$GITHUB_OUTPUT"

    - name: Fetch Dependencies
      run: brew install jpeg-turbo libavif openslide libpng

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -S ${{ github.workspace }}
        -D CMAKE_BUILD_TYPE=${{ inputs.build_type }}
        -D CMAKE_INSTALL_PREFIX=${{ steps.strings.outputs.install-dir }}
        ${{ inputs.iris_cmake_flags }}

    - name: Build
      run: >
        cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ inputs.build_type }} -j$CPU_COUNT
       
    - name: Package Build
      run: > 
        cmake --install ${{ steps.strings.outputs.build-output-dir }} &&
        cp ${{ github.workspace }}/LICENSE ${{ steps.strings.outputs.install-dir }} &&
        cp ${{ github.workspace }}/README.md ${{ steps.strings.outputs.install-dir }} &&
        tar -cvf iris-codec-${{ inputs.artifact }}.tar.gz -C ${{ steps.strings.outputs.install-dir }} .

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ inputs.artifact }}
        path: iris-codec-${{ inputs.artifact }}.tar.gz