name: Python Artifacts for PyPi

on:
  push:
    branches:
      - main 
  release:
    types: [published]

permissions:
  contents: write

jobs:
  generate_source:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-python@v5
        
        - name: Update Pip
          run: |
            python -m pip install --upgrade pip 
            pip install build scikit-build-core
        - name: Build Self-contained Python Module
          run: |
            python -m build ${{ github.workspace }} -s
        - name: Upload Build Artifact
          uses: actions/upload-artifact@v4
          with:
            name: source
            path: ${{ github.workspace }}/dist

  build_non_linux_python_module:
    runs-on: ${{ matrix.os }}
    strategy: 
      fail-fast: false
      matrix:
        os: [macos-latest, macos-13, windows-latest]
        python: ['3.11','3.12','3.13']
    steps:
          - uses: actions/checkout@v4
          - uses: ilammy/setup-nasm@v1
          - uses: actions/setup-python@v5
            with:
                python-version: ${{ matrix.python }}
          - name: Update Pip
            run: |
                python -m pip install --upgrade pip 
                pip install build scikit-build-core meson ninja

          - name: Build Self-contained Python Module
            run: |
                python -m build ${{ github.workspace }}
          - name: Upload Build Artifact
            uses: actions/upload-artifact@v4
            with:
                name: ${{ matrix.os }}-${{ matrix.python }}
                path: ${{ github.workspace }}/dist

  build_many_linux_python_module:
    runs-on: ${{ matrix.os }}
    strategy: 
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        python: [cp311, cp312, cp313]

    steps:
          - uses: actions/checkout@v4
          - uses: ilammy/setup-nasm@v1
          - uses: actions/setup-python@v5

          - name: Update Pip
            run: |
                python -m pip install --upgrade pip 
                pip install scikit-build-core uv cibuildwheel

          - name: Build Self-contained Python Module
            env:
                CIBW_BUILD: "${{ matrix.python }}-*"
                CIBW_SKIP: "*-manylinux_i686 *-musllinux_i686 *-musllinux_x86_64"
                CIBW_BUILD_FRONTEND: "build"
                CIBW_MANYLINUX_X86_64_IMAGE: quay.io/pypa/manylinux_2_34_x86_64
                CIBW_MANYLINUX_AARCH64_IMAGE: quay.io/pypa/manylinux_2_34_aarch64
                CIBW_MANYLINUX_PYPY_X86_64_IMAGE: quay.io/pypa/manylinux_2_34_x86_64
                CIBW_MANYLINUX_PYPY_AARCH64_IMAGE: quay.io/pypa/manylinux_2_34_aarch64
                CIBW_REPAIR_WHEEL_COMMAND_LINUX: "auditwheel repair -w {dest_dir} {wheel} --exclude libopenslide.so.*"
            run: |
                python -m cibuildwheel ${{ github.workspace }}
          - name: Upload Build Artifact
            uses: actions/upload-artifact@v4
            with:
                name: ${{ matrix.os }}-${{matrix.python}}
                path: ${{ github.workspace }}/wheelhouse

  upload_to_pypi:
        if: github.event_name == 'release'
        runs-on: ubuntu-latest
        needs: [generate_source, build_non_linux_python_module, build_many_linux_python_module]
        environment:
            name: 'distribute pypi'
            url: https://pypi.org/project/Iris-Codec/
        permissions:
            id-token: write
        steps:
        - name: Retrieve Build Artifact
          uses: actions/download-artifact@v4
          with:
            path: ${{ github.workspace }}/dist
            merge-multiple: true

        - name: Set version from GitHub tag
          working-directory: ${{ github.workspace }}
          run: |
            TAG=${{ github.event.release.tag_name }}
            VERSION=${TAG#v}  # Strip leading 'v'
            sed -i "s/^version = .*/version = \"$VERSION\"/" pyproject.toml

        - name: Publish to PyPi 
          uses: pypa/gh-action-pypi-publish@release/v1
          with:
            verbose: true
